<div class="container mt-3">
    <div class="row">
        <section class="col-9">
            <h5 class="text-warning ml-3">Catch up on the latest</h5>
            <div class="row">
                
                <div class="col-4 mb-4" style="width: 12rem;" *ngFor="let item of articlesLast| slice:-5">
                    <app-article-item [article]="item"></app-article-item>
                </div>
                
            </div>
        </section>
        <section class="col-9">
            
            <div class="btn-group">
                <label class="btn btn-primary"  btnRadio="Left" tabindex="0" role="button" *ngFor="let category of categories"
                        (click)="onCategorySelected(category)">{{category}}</label>
            </div>

        </section>
        <section class="col-9">
            <!-- <div class="d-flex justify-content-between align-items-center pb-2">
            </div> -->
            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of articlesByCategory">
                    <app-article-item [article]="item"></app-article-item>
                </div>
            </div>
        </section>

    </div>
</div>

<!-- <div class="card"  style="width:8rem;" *ngFor="let item of articlesLast| slice:-5">
    <img class="card-img-top" src="https://dummyimage.com/120" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div> -->

